{% extends "accounts/layout.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>{{ user }}의 프로필</h3>

                <h4>구매내역</h4>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>상품명</th>
                            <th>결제가격</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for order in order_list %}
                    <tr>
                        <td>{{ order.name }}</td>
                        <td class="text-right">{{ order.amount|intcomma }}원</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}